img {
	width: 30%;
	float: left;
	margin: 1.66%;     /*30% * 3 = 90%.  6 margin fixs 3 photos each row =>1.66% * 6 = 9.96% , 90% + 9.96% approaximatly equals 100%*/
}

p {
	font-family: 'Contrail One', cursive;
	margin-left: 1.66%;
	font-size: 23px;
	font-weight: 800;
	text-transform: uppercase;
	border-bottom: 2px solid #f1f1f1;  /*a border under my name*/
	width: 30%;
	padding-bottom: 20px;
}